html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
ol,
ul,
li,
footer,
header,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: black;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

/* Variables */
:root {
    /* Text */
    --font-size-xxl: 5.6rem;
    --font-size-xl: 4.8rem;
    --font-size-l: 3.2rem;
    --font-size-m: 1.2rem;
    --font-size-sm: 0.8rem;

    /* Spacing */
    --space-xxl: 144px;
    --space-xl: 96px;
    --space-l: 48px;
    --space-m: 24px;
    --space-sm: 16px;
    --space-xs: 8px;

    --space-horizontal: 15vw;
    --space-vertical: 16rem;

    --border-sm: 4px;
    --border-m: 8px;

    /* Colors */
    --color-accent: #01996D;
    --color-accent-transparent: #01996D20;
}

/* Global styling */
body {
    line-height: 1;
    background-color: #FFFFFF;
    margin-top: var(--space-m);
    font-family: 'Lato', sans-serif;
    color: #424242;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
    font-weight: bold;
}

h1 {
    font-size: var(--font-size-l);
}

h2 {
    font-size: var(--font-size-m);
}

h2 {
    font-size: var(--font-size-sm);
}

p {
    font-family: 'Lato', sans-serif;
    color: #424242;
    font-size: var(--font-size-m);
}

header {
    display: grid;
    grid-template-columns: var(--space-horizontal) 1fr 3fr 2fr 2fr var(--space-horizontal);
    align-items: center;
    padding-bottom: var(--space-xl);
}

footer {
    background-color: #245852;
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    padding-left: 10vw;
}

button {
    color: white;
    background-color: var(--color-accent);
    border: none;
    font-size: var(--font-size-m);
    padding: var(--space-m) var(--space-xl);
    cursor: pointer;
    border-radius: var(--border-sm);
    white-space: nowrap;
}

nav {
    grid-column: 3/5;

}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li a {
    color: black;
    font-size: var(--font-size-m);
    white-space: nowrap;
}

/* Custom classes */
.block {
    padding: 0 var(--space-horizontal);
}

.text-button {
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#logo {
    grid-column: 2/3;
    justify-self: start;
}

#header-buttons {
    display: flex;
    font-size: var(--font-size-m);
    color: black;
    flex-wrap: nowrap;
    gap: var(--space-sm);
    justify-content: center;
    align-items: center;
    grid-column: 5/6;
    height: 100%;
    justify-self: end;
}

#block-photo {
    background-image: url(/img/BG.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 895px;
}

#block-photo h1 {
    color: var(--color-accent);
    font-size: var(--font-size-xl);
    margin-bottom: var(--space-xl);
}

#block-photo p {
    margin-bottom: var(--space-xl);
}

#block-photo-text {
    position: relative;
    height: 100%;
    width: 24vw;
    justify-content: center;
    align-items: flex-start;
}

#block-information {
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-xxl);
}

#block-information-top {
    display: grid;
    grid-template-columns: 3fr 2.5fr;
    gap: var(--space-sm);
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: start;
    justify-items: start;
    margin-bottom: var(--space-xxl);
}

#how-it-works {
    grid-row: 1;
}

#block-information-top #info-left {
    grid-row: 2;
}

#block-information-top #info-right {
    grid-row: 2;
}

#block-information-top #info-left h1 {
    color: var(--color-accent);
}

#block-information-top #info-right p {
    line-height: 1.5;
}

#block-information-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-l);
    justify-content: center;
    grid-template-rows: 60rem;
    width: 100%;
}

#block-information-bottom .column {
    gap: var(--space-l);
}

#block-information-bottom #first {
    place-self: start;
}

#block-information-bottom #second {
    place-self: end;
}

#block-information-bottom #third {
    place-self: center;
}

.header-number .number {
    color: var(--color-accent-transparent);
    font-size: var(--font-size-xxl);
}

.header-number .number-text {
    font-family: 'Lora', serif;
    color: black;
    font-size: 1.6rem;
    text-align: center;
    position: relative;
    z-index: 1;
    left: -2.4em;
}

.header-number h1 {
    white-space: nowrap;
}

#block-information-bottom .information-column {
    justify-content: space-evenly;
}

#block-video {
    background-color: #245852;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--space-xl);
    padding: var(--space-vertical) var(--space-horizontal);
}

#block-video #block-video-text {
    align-items: flex-start;
    justify-content: space-evenly;
    gap: var(--space-m);
}

#block-video #block-video-text h1 {
    color: #FFFFFF;
}

#block-video #block-video-text p {
    color: #FFFFFF;
    font-weight: lighter;
}

#block-video #block-video-text button {
    color: white;
    background-color: var(--color-accent);
    border: none;
    font-size: var(--font-size-m);
    padding: var(--space-sm) var(--space-m);
    cursor: pointer;
    border-radius: var(--border-sm);
}

#block-video #video {
    display: flex;
    justify-content: center;
}

#block-video #video img {
    width: 120%;
    height: auto;
}

#block-customer {
    padding: var(--space-vertical) var(--space-horizontal);
    display: grid;
    grid-template-columns: 4fr 2fr;
    align-items: start;
    gap: var(--space-xl);
}

#block-customer #block-customer-left {
    position: relative;
}

#customer-card {
    position: absolute;
    z-index: 1;
    left: calc(-1 * var(--space-xxl));
    top: 50%;
    background-color: white;

    padding: var(--space-m) var(--space-xl);
    padding-bottom: var(--space-l);

    box-shadow: -8px 8px 8px 0px rgba(216, 215, 215, 0.5);

    justify-content: center;
    align-items: center;
    gap: var(--space-m);
}

#customer-card img {
    --size: 80px;

    border-radius: 50%;
    width: var(--size);
    height: var(--size);
}

#customer-card-header {
    text-align: center;
}

#customer-card p {
    font-size: var(--font-size-sm);
}

#customer-card hr {
    width: 128px;
    color: black;
    border: 1px solid black;
}

#block-customer-right {
    gap: var(--space-l);
    align-items: flex-start;
    height: auto;
}

#block-customer-right h1 span {
    color: var(--color-accent);
}

#block-customer-right h1 span:first-child {
    font-size: var(--font-size-m);
    color: #424242;
    font-weight: 100;
    line-height: 1.5;
}

#block-customer-right button {
    color: white;
    background-color: var(--color-accent);
    border: none;
    font-size: var(--font-size-m);
    padding: var(--space-m) var(--space-xl);
    white-space: nowrap;
    cursor: pointer;
    border-radius: var(--border-sm);
}

footer {
    background-color: #245852;
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px 0px;
    padding-left: 10vw;
}

.text-item-1 {
    grid-column: 1/4;
    grid-row: 1/2;
}

.text-item-2 {
    grid-column: 1/4;
    grid-row: 2/3;
}

.text-item-3 {
    grid-column: 1/4;
    grid-row: 3/4;
}

.text-item-4 {
    grid-column: 1/4;
    grid-row: 4/5;
}

.text-item-5 {
    grid-column: 1/3;
    grid-row: 5/6;
}

.text-item-6 {
    grid-column: 3/4;
    grid-row: 5/6;
}

.text-item-6 p {
    text-align: center;
}

#footer-stores {
    grid-column: 3/4;
    grid-row: 6/7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.text-item-6 p {
    align-self: center;
}

footer a {
    color: #FFFFFF;
    font-size: var(--font-size-m);
}

.text-item-1 a {
    font-size: var(--font-size-l);
    font-family: 'Lora', serif;
}

footer p {
    color: #FFFFFF;
    display: grid;
}

#footer-socials {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 2/3;
    grid-row: 6/7;
}

.social-icon {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.social-icon::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.social-icon .social-icon-image {
    --size: 48px;

    height: var(--size);
    position: absolute;
    width: var(--size);
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-left: calc(-1 * (var(--size) / 2));
    margin-top: calc(-1 * (var(--size) / 2));
    display: block;
}

#instagram-icon::before {
    background-image: conic-gradient(from 0.5turn, #80A4CE, #F289AA, #C68BF0, #D164DA, #C963E8, #BFC2E8, #FFC999, #BAD0F1, #FFFFFF);
}