html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: black;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

:root {
    /* Text */
    --font-size-xxl: 144px;
    --font-size-xl: 64px;
    --font-size-l: 48px;
    --font-size-m: 20px;
    --font-size-sm: 16px;

    /* Spacing */
    --space-xl: 48px;
    --space-l: 32px;
    --space-m: 24px;
    --space-sm: 16px;
    --space-xs: 8px;
}

body {
    line-height: 1;
    background-color: #FFFFFF;
    margin-top: var(--space-m);
    font-family: 'Lato', sans-serif;
    color: #424242;
}

header {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 2fr 1fr 2fr;
    align-items: center;
    padding-bottom: var(--space-xl);
}

.logo {
    text-align: start;
}

.nav-bar ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.nav-bar ul li a {
    color: black;
    font-size: var(--font-size-m);
}

.btn_sign {
    display: flex;
    font-size: var(--font-size-m);
    color: black;
    flex-wrap: nowrap;
    gap: var(--space-sm);
    justify-content: center;
    align-items: center;
}

.btn_sign a {
    font-size: var(--font-size-m);
}

.btn_sign button {
    color: white;
    background-color: #01996D;
    border: none;
    font-size: var(--font-size-m);
    padding: var(--space-m) var(--space-xl);
    cursor: pointer;
    border-radius: 3px;
}

.photo_container {
    background-image: url(/img/BG.png);
    display: grid;
    grid-template-columns: 1fr 2fr 4.5fr;
    height: 895px;
}

.photo_container h1 {
    color: #01996D;
    font-size: var(--font-size-xl);
    font-family: 'Lora', serif;
    margin-bottom: var(--space-xl);
}

.photo_container p {
    font-size: var(--font-size-m);
    margin-bottom: var(--space-xl) ;
}

.photo_container button {
    color: white;
    background-color: #01996D;
    border: none;
    font-size: var(--font-size-m);
    font-weight: bold;
    padding: var(--space-m) var(--space-xl);
    cursor: pointer;
    border-radius: 3px;
}

.photo_container_inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.information-top {
    display: grid;
    grid-template-columns: 1fr 3fr 2.5fr 1fr;
    justify-content: space-between;
    align-items: start;
    justify-items: start;
    margin-bottom: 144px;
}

.info-left h1 {
    color: #01996D;
    font-size: var(--font-size-l);
    font-weight: bold;
    font-family: 'Lora', serif;
}

.how-it-works p {
    font-size: var(--font-size-m);
    margin-bottom: var(--space-xs);
    margin-top: 176px;

}

.how-it-works {
    display: grid;
    grid-template-columns: 1fr 6.5fr;
}

.info-right p {
    font-size: var(--font-size-m);
    line-height: 1.5;
}

.information-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6vw;
    justify-content: center;
    margin: 0 15vw 3rem 15vw;
    grid-template-rows: 60rem;

}

.information-bottom #first {
    align-self: start;

}

.information-bottom #second {

    place-self: end;
}

.information-bottom #third {

    align-self: center;
}

.number p {
    font-family: 'Lora', serif;
    color: #01996D;
    font-size: var(--font-size-xxl);
    opacity: 20%;
    top: 0;
}

.number-text p {
    font-family: 'Lora', serif;
    color: black;
    font-size: var(--font-size-m);
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 105px;
    left: 86px;
}

.number-wrapper {
    position: relative;
    margin-bottom: 7vh;
}

.text-wrapper p {
    font-family: 'Lato', sans-serif;
    color: #424242;
    font-size: var(--font-size-m);
    margin-bottom: 7vh;
}

.video-container {
    background-color: #245852;
    padding: 230px 0;
    display: grid;
    grid-template-columns: 1fr 2.5fr 3fr 1fr;

}

.text h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: var(--font-size-l);
    font-family: 'Lora', serif;
}

.text p {
    color: #FFFFFF;
    font-size: var(--font-size-m);
    font-weight: lighter;
}

.text button {
    color: white;
    background-color: #01996D;
    border: none;
    font-size: var(--font-size-m);
    padding: var(--space-sm) var(--space-m);
    cursor: pointer;
    border-radius: 3px;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.customer-container {
    margin: 120px 0px 170px 0px;
    display: grid;
    grid-template-columns: 1fr 3fr 2.5fr 1fr;
}

.left-side {
    position: relative;
}

.shape-photo {
    position: absolute;
    z-index: 1;
    left: -100px;
    top: 350px;
    background-color: white;
    padding: var(--space-m) var(--space-xl);
    box-shadow: 5px 5px 5px 5px rgb(216, 215, 215);
}

.left-side-wrapper img {
    border-radius: 50%;
    width: 80px;
    height: 70px;
    margin-bottom: var(--space-m);
}

.left-side-wrapper p {
    font-size: var(--font-size-sm);
}

.left-side-wrapper p:first-child {
    margin-bottom: var(--space-m);
    margin-top: 10px;
}

.left-side-wrapper p:last-child {
    font-weight: bold;
    margin-bottom: var(--space-m);
    margin-top: var(--space-xs);
}

#mikayla {
    margin-bottom: var(--space-m);
}

hr {
    width: 110px;
    color: black;
}

.left-side-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side p:first-child {
    font-size: var(--font-size-m);
    color: #424242;
    margin-bottom: var(--space-xl);
}

.right-side h1 {
    color: #01996D;
    font-weight: bold;
    font-size: var(--font-size-l);
    font-family: 'Lora', serif;
    margin-bottom: var(--space-xl);
}

.right-side p {
    font-size: var(--font-size-m);
    color: #484848;
    line-height: 1.5;
    margin-bottom: var(--space-xl);
}

.right-side button {
    color: white;
    background-color: #01996D;
    border: none;
    font-size: var(--font-size-m);
    padding: var(--space-m) var(--space-xl);
    cursor: pointer;
    border-radius: 3px;
}

.right-side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.footer-wrapper {
    background-color: #245852;
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 70px;
    padding-left: 10vw;
}

.text-item-1 {
    grid-column: 1/4;
    grid-row: 1/2;
}

.text-item-2 {
    grid-column: 1/4;
    grid-row: 2/3;
}

.text-item-3 {
    grid-column: 1/4;
    grid-row: 3/4;
}

.text-item-4 {
    grid-column: 1/4;
    grid-row: 4/5;
}

.text-item-5 {
    grid-column: 1/3;
    grid-row: 5/6;
}

.text-item-6 {
    grid-column: 3/4;
    grid-row: 5/6;
}

.text-item-6 p {
    text-align: center;
}

.stores {
    grid-column: 3/4;
    grid-row: 6/7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.text-item-6 p {
    align-self: center;
}

.footer-wrapper a {
    color: #FFFFFF;
    font-size: var(--font-size-m);
}

.text-item-1 a {
    font-size: var(--font-size-l);
    font-family: 'Lora', serif;
}

.footer-wrapper p {
    color: #FFFFFF;
    font-size: var(--font-size-m);
    display: grid;
}

.social {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 2/3;
    grid-row: 6/7;
}

.facebook {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

#facebook {
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    display: block;
}

.facebook::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.instagram {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.instagram::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-image: conic-gradient(from 0.5turn, #80A4CE, #F289AA, #C68BF0, #D164DA, #C963E8, #BFC2E8, #FFC999, #BAD0F1, #FFFFFF);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#instagram {
    --size: 50px;

    height: var(--size);
    position: absolute;
    width: var(--size);
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-left: calc(-1 * (var(--size) / 2));
    margin-top: calc(-1 * (var(--size) / 2));
    display: block;
}

.twitter {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

#twitter {
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    display: block;
}

.twitter::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}