
/* Spacing */
$space-xxl: 220px;
$space-xl:170px;
$horizontal_space: 144px;
$space-l: 104px;
$space-ml: 75px;
$space-m: 47px;
$space-s: 32px;
$space-xs-s: 25px;
$space-xs: 16px;
$space-xxs: 8px;

/* Colors*/
$header_font_color: #212832;
$main_font_color: #5E6282;
$red_accent: #DF6951; 
$coral_accent: #F15A2B;
$yellow_accent: #F1A501;
$blue_accent: #006380;
$booking_color: #080809;
$white: #FFFF;
$download_color: #F5F5F5;
$h1_font_color: #14183E;
$cataloge_color: #1E1D4C;
$grey_color: #84829A;
$purple_accent: #8A79DF;
$form-color: #DFD7F9;

/* Font Families*/
$main_font_family:  'Open Sans', sans-serif;
$font_family_for_h3: 'Poppins', sans-serif;
$font_family_for_h3_regular: 'Poppins', sans-serif;
$font_family_for_h3_medium: 'Poppins', sans-serif;
$font_family_for_h1: 'Volkhov', serif;
$font_family_form: 'Montserrat', sans-serif;

/*Font Sizes*/
$font-size-xl: 84px;
$font-size-l: 50px;
$font-size-m: 33px;
$font-size-s: 24px;
$font-size-xs: 18px;
$font-size-xxs: 16px;
$font-size-xxxs: 14px;

/*Line height*/

$line-height-s: 30px;
$line-height-l: 89px;