
/* Spacing */
$horizontal_space: 144px;
$vertical_space: 47px;
$space-s: 32px;
$space-xs: 16px;
$space-xxs: 8px;



/* Colors*/
$main_font_color: #212832;
/* Fonts*/
$main_font_family:  'Open Sans', sans-serif;
$font-size-s: 17px;
