
/* Spacing */
$space-xxl: 15rem;
$space-xl: 11.8rem;
$horizontal_space: 10rem;
$space-l: 7rem;
$space-ml: 5rem;
$space-m: 3rem;
$space-s: 2rem;
$space-xs-s: 1.7rem;
$space-xs: 1rem;
$space-xxs: 0.5rem;

/* Colors*/
$header_font_color: #212832;
$main_font_color: #5E6282;
$red_accent: #DF6951; 
$coral_accent: #F15A2B;
$yellow_accent: #F1A501;
$blue_accent: #006380;
$booking_color: #080809;
$white: #FFFF;
$download_color: #F5F5F5;
$h1_font_color: #14183E;
$cataloge_color: #1E1D4C;
$grey_color: #84829A;
$purple_accent: #8A79DF;
$form-color: #DFD7F9;

/* Font Families*/
$main_font_family:  'Open Sans', sans-serif;
$font_family_for_h3: 'Poppins', sans-serif;
$font_family_for_h3_regular: 'Poppins', sans-serif;
$font_family_for_h3_medium: 'Poppins', sans-serif;
$font_family_for_h1: 'Volkhov', serif;
$font_family_form: 'Montserrat', sans-serif;

/*Font Sizes*/
$font-size-xl: 5rem;
$font-size-l: 3rem;
$font-size-m: 2.4rem;
$font-size-s: 1.5rem;
$font-size-xs: 1rem;
$font-size-xxs: 0.9rem;
$font-size-xxxs: 0.75rem;

/*Line height*/

$line-height-s: 30px;
$line-height-l: 89px;
