@import "_variables";
@import "_reset";
@import "_mixins";

.body__wrapper {
    padding: $space-m $horizontal_space;
    background-image: url('/img/Decore.png'), url('/img/form_decoration.png');
    background-position: top right, bottom 40rem right 4vw;
    background-repeat: no-repeat, no-repeat;
}
#menu__toggle{
    display: none;
}
.menu__btn{
    display: none;
}
.block-girl-header {
    padding-bottom: $space-s ;
    font-family: $main_font_family;
    font-size: $font-size-xxs;
    color: $header_font_color;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    gap: 1vw;
    z-index: 1;
}

.header__logo {
    grid-column: 1;
}

.header__nav-bar {
    grid-column: 2/6;

    ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}

#nav1 {
    &:hover {
        font-size: $font-size-xs;
        font-weight: bold;
    }
}

#nav2 {
    @extend #nav1;
}

#nav3 {
    @extend #nav1;
}

#nav4 {
    @extend #nav1;
}

.header__authorization__login {
    grid-column: 6/7;
    justify-self: end;
}

.header__authorization__button {
    grid-column: 7/8;
    justify-self: start;

    button {
        height: 100%;
        padding: $space-xxs $space-xs;
        background-color: transparent;
        border: $header_font_color 1px solid;
        border-radius: 3px;
        font-size: $font-size-xxs;
        cursor: pointer;

        &:hover {
            background-color: $red_accent;
            color: $white;
        }
    }
}

.header__dropdown {
    grid-column: 8/9;

    select {
        font-size: $font-size-xxs;
        color: $header_font_color;
        font-family: $main_font_family;
        border: none;
        background-color: transparent;
    }
}

.block-girl-container {
    @include flex-row();
    padding-bottom: $horizontal_space;
}

.block-girl-container-left {
    @include flex-column();
    justify-content: center;

    h3 {
        font-size: $font-size-s;
        font-family: $font_family_for_h3;
        font-weight: bold;
        color: $red_accent;
    }

    h1 {
        font-family: $font_family_for_h1;
        font-size: $font-size-xl;
        line-height: $line-height-l;
        color: $h1_font_color;
    }

    p {
        font-family: $main_font_family;
        color: $main_font_color;
        font-size: $font-size-xxs;
        line-height: $line-height-s;
    }
}

.block-girl-container-left__buttons {
    @include flex-row();
    align-items: center;
    justify-content: flex-start;
    gap: $space-xs;

    #circle_button {
        background-color: $red_accent;
        border-radius: 50%;
        height: 52px;
        width: 52px;
        border: none;
        text-align: center;
        vertical-align: center;
        padding: 0;

        img {
            height: 16px;
            width: 16px;
            margin: auto;
            display: block;
        }
    }

    #more_button {
        color: $white;
        background-color: $yellow_accent;
        font-family: $main_font_family;
        border-radius: 5px;
        padding: $space-xs;
        border: none;
        margin-right: $space-s;

        &:hover {
            background-color: #ff9900;
        }
    }
}

.block-girl-container-right {
    position: relative;
}

.block-girl-container-right__plane1 {
    position: absolute;
    right: 40rem;
    top: 10rem;

    &:hover {
        animation: flight 3s;
    }
}

@keyframes flight {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(50rem, -20rem);
        opacity: 0;
    }
}

.block-girl-container-right__plane2 {
    position: absolute;
    right: 8rem;
    top: 17rem;

}

.block-offers {
    background-image: url(/img/block-offers__decoration.png);
    background-position: top right;
    background-repeat: no-repeat;
    padding-bottom: $space-l;

    h3 {
        font-family: $font_family_for_h3;
        color: $main_font_color;
        font-weight: bold;
        font-size: $font-size-xs;
        text-align: center;
    }

    h1 {
        font-family: $font_family_for_h1;
        color: $h1_font_color;
        font-size: $font-size-l;
        text-align: center;
        padding-top: $space-xs;
        padding-bottom: $space-l;
    }
}

.block-offers__cataloge {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $space-m;
    align-items: baseline;
}

#calculated {
    white-space: nowrap;
}

.block-offers__cataloge_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $space-m;
    position: relative;
    z-index: 10;

    &:hover::before {
        border-radius: 36px;
        box-shadow: 0px 0px 8px 0px rgba(216, 215, 215, 0.5);

    }

    &::before {
        content: "";
        background-color: $white;
        z-index: -5;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

    }

    &:hover::after {
        content: "";
        background-image: url('/img/Red_shape.png');
        width: 100px;
        height: 100px;
        position: absolute;
        transform: translateZ(-10rem);
        z-index: -10;
        bottom: -2rem;
        left: -2rem;
    }

    img {
        &:first-child {
            width: 66px;
            height: 70px;
            z-index: 1;
            position: relative;

        }

        &:nth-child(2) {
            width: 50px;
            height: 50px;

        }
    }

    #cataloge_plane {
        width: 137px;
        height: 95px;
    }

    #microphone {
        width: 40px;
        height: 69px;
    }

    #setting {
        width: 60px;
        height: 60px;
    }

    h4 {
        color: $cataloge_color;
        font-size: $font-size-s;
        font-weight: bold;
        font-family: $main_font_family;
        padding-top: $space-s;
    }

    p {
        color: $main_font_color;
        font-size: $font-size-xs;
        font-weight: bold;
        font-family: $font_family_for_h3;
        padding-top: $space-s;
        text-align: center;
    }
}

.block-offers__cataloge_item_pictures {
    position: relative;

    img {
        position: absolute;
    }
}

#shape1 {
    bottom: 0;
    right: 0;
    left: 2.9rem;
}

#shape2 {
    top: 0;
    left: 2.5rem;
}

#shape3 {
    top: 0;
    left: 0.5rem;
}

#shape4 {
    bottom: 0;
    left: 1.5rem;
}

#weather {
    z-index: 1;
    position: relative;
}

.block-destinations {
    h3 {
        font-family: $font_family_for_h3;
        color: $main_font_color;
        font-weight: bold;
        font-size: $font-size-xs;
        text-align: center;
    }

    h1 {
        font-family: $font_family_for_h1;
        color: $h1_font_color;
        font-size: $font-size-l;
        text-align: center;
        padding-top: $space-xs;
        padding-bottom: $space-l;
    }
}

.block-destinations-cities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-items: center;
    width: 100%;
}

.city {
    width: 100%;
    padding: $space-s;
}

.city_card {
    border-radius: 24px;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 2em;
    max-width: 24rem;
    position: relative;
    box-shadow: 0px 0px 8px 4px rgba(230, 230, 230, 0.6);
    &>img {
        width: 100%;
        height: 32rem;
        object-fit: cover;
        object-position: center top;
    }
    
    &:hover{
       transform: scale(105%);
       box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.4);
    }
}
.block-destinations-cities__container_days{
    display: flex;
    gap: 0.5em;
}
.block-destinations-cities__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: $space-xs;
    background-color: $white;
    justify-items: start;
    padding: $space-s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    span {
        font-size: $font-size-xs;
        color: $main_font_color;
        font-family: $font_family_for_h3;

        :first-child {
            grid-column: 1;
            grid-row: 1;
        }

        :last-child {
            grid-column: 2;
            grid-row: 1;
        }
    }
}

.block-booking {
    margin-bottom: $space-xl;
    margin-top: $space-xl;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.block-booking-left {
    h3 {
        font-family: $font_family_for_h3;
        color: $main_font_color;
        font-weight: bold;
        font-size: $font-size-xs;
    }

    h1 {
        font-family: $font_family_for_h1;
        color: $h1_font_color;
        font-weight: bold;
        font-size: $font-size-l;
        padding-top: $space-s;
    }
}

.block-booking-left-wrapper {
    display: grid;
    grid-template-columns: 1fr 15fr;
    gap: $space-m $space-xs;
    padding-top: $space-m;
}

#white_icon_1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#white_icon_2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

#white_icon_3 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.block-booking-left__text1 {
    grid-column: 2/3;
    grid-row: 1/2;

    h4 {
        font-family: $font_family_for_h3;
        color: $main_font_color;
        font-size: $font-size-xxs;
        font-weight: bold;
    }

    p {
        font-family: $font_family_for_h3_regular;
        color: $main_font_color;
        font-size: $font-size-xxs;
    }
}

.block-booking-left__text2 {
    grid-column: 2/3;
    grid-row: 2/3;

    h4 {
        font-family: $font_family_for_h3;
        color: $main_font_color;
        font-size: $font-size-xxs;
        font-weight: bold;
    }

    p {
        font-family: $font_family_for_h3_regular;
        color: $main_font_color;
        font-size: $font-size-xxs;
    }
}

.block-booking-left__text3 {
    grid-column: 2/3;
    grid-row: 3/4;

    h4 {
        font-family: $font_family_for_h3;
        color: $main_font_color;
        font-size: $font-size-xxs;
        font-weight: bold;
    }

    p {
        font-family: $font_family_for_h3_regular;
        color: $main_font_color;
        font-size: $font-size-xxs;
    }
}

.img_wrapper_1 {
    background-color: $yellow_accent;
    border-radius: 25%;
    position: relative;

    img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}

.img_wrapper_2 {
    background-color: $coral_accent;
    border-radius: 25%;
    position: relative;

    img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}

.img_wrapper_3 {
    background-color: $blue_accent;
    border-radius: 25%;
    position: relative;

    img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}

.block-booking-right {
    position: relative;
    height: 100%;
}

.block-booking-right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-s;
    border-radius: 24px;
    background-color: $white;
    padding: $space-s;
    width: 83%;
    background-color: $white;
    box-shadow: 15px -5px 100px 12px #e9f5fd;

    h2 {
        font-family: $font_family_for_h3_regular;
        color: $booking_color;
        font-size: $font-size-xs;
        font-weight: bold;
    }
}

.block-booking-right-wrapper__text {
    @include flex-row ();
    gap: $space-xs;

    h3 {
        color: $grey_color;
        font-family: $font_family_for_h3_medium;
        font-size: $font-size-xxs;
        letter-spacing: -0.5%;
    }

    p {
        color: $grey_color;
        font-family: $font_family_for_h3_medium;
        font-size: $font-size-xxs;
        letter-spacing: -0.5%;
    }
}

.block-booking-right-wrapper__circles {
    @include flex-row ();
    gap: $space-m;
}

.block-booking-right-wrapper__circle {
    background-color: $download_color;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    position: relative;
}

#leaf {
    width: 14px;
    height: 14px;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map {
    width: 14px;
    height: 14px;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#telegram {
    width: 14px;
    height: 14px;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.block-booking-right-wrapper__people {
    @include flex-row ();
    gap: $space-xs;
    white-space: nowrap;

    p {
        color: $grey_color;
        font-family: $font_family_for_h3_medium;
        font-size: $font-size-xxs;
    }
}

.block-booking-right-wrapper__bottom-line {
    display: flex;
    gap: $horizontal_space;
}

.block-booking-right__container {
    position: absolute;
    z-index: 1;
    left: 72%;
    top: 51%;
}

.block-booking-right__container__wrapper {
    @include flex-row ();
    align-items: center;
    gap: $space-s;
    padding: $space-xs $space-xs;
    background-color: $white;
    border-radius: 24px;
    box-shadow: 10px -5px 100px 12px #f0f0f0d7;

}

.block-booking-right__container__wrapper__text {
    h4 {
        font-size: $font-size-xxs;
        color: $grey_color;
        font-family: $font_family_for_h3_medium;
    }

    h3 {
        font-size: $font-size-xs;
        color: $booking_color;
        font-weight: bold;
        font-family: $font_family_for_h3_medium;
        white-space: nowrap;
    }
}

.block-booking-right__container__wrapper__text__bottom {
    @include flex-row ();
    gap: $space-xxs;

    #persant {
        font-size: $font-size-xxxs;
        color: $purple_accent;
        font-family: $font_family_for_h3_medium;
    }

    p {
        font-size: $font-size-xxxs;
        color: $booking_color;
        font-family: $font_family_for_h3_medium;
    }
}

.block-booking-right__container__lines {
    @include flex-row ();
    width: 100%;
    position: relative;
}

#hr_grey {
    height: 3px;
    background-color: $download_color;
    border-radius: 10px;
    border: none;
    width: 100%;
}

#hr_purple {
    height: 3px;
    background-color: $purple_accent;
    border-radius: 10px;
    border: none;
    width: 40%;
    position: absolute;
}

.block-testimonials {
    @include flex-row();
    justify-content: space-around;
    padding-bottom: $space-l;
}

.block-testimonials-left {
    h3 {
        font-family: $font_family_for_h3;
        color: $main_font_color;
        font-size: $font-size-xs;
        font-weight: bold;
    }

    h1 {
        font-family: $font_family_for_h1;
        color: $h1_font_color;
        font-size: $font-size-l;
        font-weight: bold;
    }
}

.block-testimonials-right {
    width: 30%;
    position: relative;
    height: 100%;
}

.block-testimonials-right__photo {
    position: absolute;
    top: -3rem;
    left: -2rem;
}

.block-testimonials-right__container {
    @include flex-column();
    padding: $space-xs $space-s;
    background-color: $white;
    border-radius: 24px;
    box-shadow: 10px -5px 100px 12px #f0f0f0d7;
    gap: 0;

    p {
        font-family: $font_family_for_h3_medium;
        font-size: $font-size-xxs;
        color: $main_font_color;
        line-height: $line-height-s;
        padding-bottom: $space-s;
    }

    h3 {
        color: $main_font_color;
        font-family: $font_family_for_h3;
        font-size: $font-size-xs;
        padding-bottom: $space-xs;
    }

    h5 {
        font-family: $font_family_for_h3_medium;
        font-size: $font-size-xxxs;
        color: $main_font_color;
    }
}

.block-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.block-companies__logos {
    justify-self: center;
    align-self: center;

    img {
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
            background-color: $white;
            border-radius: 24px;
            box-shadow: 10px -5px 100px 12px #f0f0f0d7;
        }
    }
}

#axon {
    width: 160px;
    height: 120px;
}

#jetstar {
    @extend #axon;
}

#expedia {
    @extend #axon;
}

#qantas {
    @extend #axon;
}

#alitalia {
    @extend #axon;
}

.block-form {
    padding: $space-xl 0;
}

.block-form__container {
    background-color: $form-color;
    border-top-left-radius: 120px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: $space-ml 0;
    background-image: url('/img/form-left-docoration.png'), url('/img/form-right-docoration.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
    background-blend-mode: soft-light;
    position: relative;

    h2 {
        color: $main_font_color;
        font-family: $font_family_for_h3;
        font-size: $font-size-m;
        text-align: center;
        padding-bottom: $space-ml;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6vh;
    }
}

#form__input {
    font-family: $font_family_form;
    padding: 0 $space-l 0 $space-ml;
    margin-right: $space-xs;
    font-size: $font-size-xxxs;
    background-image: url('/img/email.png');
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center left $space-s;
    border: none;
    height: 100%;
}

#form__button {
    background: linear-gradient(#FF946D, #FF7D68);
    border: none;
    padding: 0 $space-s 0 $space-s;
    border-radius: 10px;
    color: $white;
    font-size: $font-size-xs;
    font-family: $main_font_family;
    height: 100%;
}

.block-form__container__circle__wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.block-form__container__circle {
    background: linear-gradient(#747DEF, #5E3BE1);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    width: 70px;
    height: 70px;
    top: -2rem;
    right: -2rem;

    img {
        padding: $space-xs;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}

.block-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: $space-xs $space-m;
    align-items: center;
    padding-bottom: $space-l;

    h1 {
        grid-column: 1/2;
        grid-row: 1/2;
        color: #181E4B;
        font-size: $font-size-l;
        font-family: $font_family_for_h3_medium;
    }

    h3 {
        color: $booking_color;
        font-family: $font_family_for_h3;
        font-weight: bold;
        font-size: $font-size-s;
    }

    h3:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    h3:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    h3:nth-child(4) {
        grid-column: 4/5;
        grid-row: 1/2;
    }

    p {
        grid-column: 1/2;
        grid-row: 2/3;
        font-family: $font_family_for_h3_medium;
        color: $main_font_color;
        font-size: $font-size-xxxs;
        line-height: 124.5%;
    }

    a {
        color: $main_font_color;
        font-size: $font-size-xs;
        font-family: $font_family_for_h3_medium;
    }

    a:nth-child(6) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    a:nth-child(7) {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    a:nth-child(8) {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    a:nth-child(9) {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    a:nth-child(10) {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    a:nth-child(11) {
        grid-column: 4/5;
        grid-row: 3/4;
    }

    a:nth-child(12) {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    a:nth-child(13) {
        grid-column: 3/4;
        grid-row: 4/5;
    }

    a:nth-child(14) {
        grid-column: 4/5;
        grid-row: 4/5;
    }
}

.block-footer__socials__wrapper {
    grid-column: 5/6;
    grid-row: 1/5;
    @include flex-column();
}

.block-footer__socials {
    @include flex-row;
    justify-content: space-between;
}

.social-icon {
    position: relative;
    display: inline-block;
    width: 41px;
    height: 41px;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 0px 8px 0px rgba(216, 215, 215, 0.5);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.social-icon .social-icon-image {
    $size: 16px;
    height: $size;
    position: absolute;
    width: $size;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-left: calc(-1 * ($size) / 2);
    margin-top: calc(-1 * ($size) / 2);
    display: block;
}

#instagram-icon::before {
    background-image: conic-gradient(from 0.5turn, #80A4CE, #F289AA, #C68BF0, #D164DA, #C963E8, #BFC2E8, #FFC999, #BAD0F1, #FFFFFF);
}

#footer-stores {
    @include flex-row;
    justify-content: space-between;
}

#rights {
    font-family: $font_family_for_h3_medium;
    color: $main_font_color;
    font-size: $font-size-xxxs;
    line-height: 124.5%;
    text-align: center;
    padding-bottom: $space-l;
}

@import "_media";